.stay-img {
    transition: transform .2s;
}

.stay-img:hover {
    transform: scale(1.1);
}


.filter-buttons button {
    padding: 12px;
    border-radius: 10px;
    background-color: transparent;
    /* border: none; */
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border: 1px;
    cursor: pointer;
}

.filter-buttons button:hover{
    background-color: #828282;
}

.modal-filter-cols {
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-filter-cols:hover, :focus {
    border: 1px solid #333333;
}

.modal-100w {
    width: 100%;
}

.modal-header {
    border-bottom: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 0 auto;
    }
}
